@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------*\
  #RESET
\*-------------------------*/

a,
img,
span,
button {
  @apply block;
}

html {
  @apply scroll-smooth;
}

/*-------------------------*\
  #REUSED STYLE
\*-------------------------*/

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

ion-icon {
  --ionicon-stroke-width: 50px;
}

.img-holder {
  @apply overflow-hidden;
  aspect-ratio: var(--width) / var(--height);
}

.img-cover {
  @apply h-full
  w-full
  object-cover;
}

.grid-list > li:nth-child(even):not(.off-card) {
  @apply ms-auto

  /* responsive for sm:635px screen */
  sm:ms-0;
}

/*-------------------------*\
  #COMPONENTS
\*-------------------------*/

/**
 * Dropdown
 */

.dropdown {
  @apply relative;
}

.dropdown-content {
  @apply text-alabaster
  border-amber_alpha
  border-solid
  border-b
  h-0
  px-5
  space-y-1
  text-sm
  transition-all
  duration-200
  ease-inExpo
  invisible
  
  /* responsive for md:1000px screen */
  md:bg-papaya_whip
  md:text-jet
  md:absolute
  md:-left-8
  md:top-10
  md:min-w-[125px]
  md:space-y-1
  md:rounded-md
  md:shadow-sm
  
  /* responsive for xxl:1600 screen */
  xxl:text-lg
  xxl:min-w-40;

  clip-path: inset(0 0 100% 0);
}

.dropdown.active .dropdown-content {
  @apply visible
  h-[184px]
  
  /* responsive for xxl:1600 screen */
  xxl:h-60;

  clip-path: inset(0 0 0 0);
}

.navbar-link:has(~ .dropdown.active) ion-icon {
  @apply rotate-90;
}

.dropdown-content a {
  @apply transition-colors
  
  /* :hover */
  hover:text-butterscotch;
}

/**
 * Button
 */

.btn {
  @apply text-white
  font-bold
  uppercase
  tracking-widest
  text-sm
  max-w-max
  rounded-md
  duration-200
  
  /* :hover */
  hover:shadow-lg;
}

.btn-text {
  @apply text-caf_noir
  ring-butterscotch
  ring-1
  
  /* :hover */
  hover:shadow-lg;
}

/**
 * Card
 */

.card {
  @apply bg-cover
  bg-no-repeat
  bg-center
  rounded-md
  min-h-[219px]
  py-5
  px-5
  
  /* responsive for md:1000px screen */
  md:min-h-[360px]
  
  /* responsive for lg:1200px screen */
  lg:min-h-[219px];
}